<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>
<h3><%=link_to 'Back', articles_path %></h3>
<h3><%=link_to 'Edit', edit_article_path(@article) %></h3>